body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

#pro {
  text-decoration: underline;
}

h1 {
  font-size: 5.625em;
  margin: 150px auto 0;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  padding: 0px 400px;
}

.mt {
  width: 1105px;
}

.kotlin {
  width: 100px;
}

.java {
  width: 90px;
}

.python {
  width: 150px;
}

.webdev {
  width: 200px;
}

.programming {
  width: 100px;
}

.cards {
  width: 100px;
}

.games {
  width: 100px;
}

.linkedin {
  width: 50px;
}

.youtube {
  width: 60px;
}

.github {
  width: 50px;
}

.small_hr {
  border-color: rgba(49, 48, 48, 0.863);
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 6%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
